In [10]:
from mpl_finance import candlestick_ohlc
import requests
import json
import pandas as pd

In [11]:
r = requests.get('https://api.iextrading.com/1.0/stock/aapl/chart/5y')
j_data = json.loads(r.text)
df = pd.DataFrame(j_data)

In [13]:
df[['date', 'open', 'high', 'low', 'close']]

            date      open      high       low     close
0     2014-01-29   66.0731   66.5215   65.3743   65.6535
1     2014-01-30   65.8882   66.4074   65.1226   65.5266
2     2014-01-31   64.9233   65.7558   64.7096   65.6339
3     2014-02-03   65.8974   66.5687   65.4634   65.7558
4     2014-02-04   66.3222   66.7955   65.9171   66.7077
5     2014-02-05   66.4153   67.5586   66.3749   67.2059
6     2014-02-06   67.2745   67.7282   66.9777   67.5976
7     2014-02-07   68.7675   68.9720   68.2399   68.5433
8     2014-02-10   68.4088   70.1669   68.3217   69.7712
9     2014-02-11   69.9849   70.9266   69.8385   70.6906
10    2014-02-12   70.8211   71.1654   70.3318   70.6853
11    2014-02-13   70.5191   71.8631   70.4584   71.8077
12    2014-02-14   71.5492   72.0121   71.3830   71.7497
13    2014-02-18   72.0148   72.6993   71.9633   72.0135
14    2014-02-19   71.8499   72.1322   70.4782   70.8765
15    2014-02-20   70.2988   70.8277   69.7726   70.0561
16    2014-02-21   70.2728   70.5072   69.1922   69.2780
17    2014-02-24   69.0010   69.8939   68.9047   69.5813
18    2014-02-25   69.8227   69.8471   68.7174   68.8572
19    2014-02-26   69.0617   69.2450   68.0052   68.2360
20    2014-02-27   68.2083   69.7435   68.0645   69.5971
21    2014-02-28   69.7831   70.2672   68.8651   69.4085
22    2014-03-03   69.0366   69.9902   68.9561   69.6090
23    2014-03-04   70.0364   70.2527   69.6103   70.0680
24    2014-03-05   70.0258   70.5310   69.7897   70.2157
25    2014-03-06   70.2724   70.4901   69.6539   70.0034
26    2014-03-07   70.0482   70.1656   69.3835   69.9625
27    2014-03-10   69.6882   70.3437   69.6854   70.0258
28    2014-03-11   70.6233   71.0572   70.2461   70.7077
29    2014-03-12   70.4993   70.8739   70.1683   70.7763
...          ...       ...       ...       ...       ...
1228  2018-12-13  170.4900  172.5700  169.5500  170.9500
1229  2018-12-14  169.0000  169.0800  165.2800  165.4800
1230  2018-12-17  165.4500  168.3500  162.7300  163.9400
1231  2018-12-18  165.3800  167.5300  164.3900  166.0700
1232  2018-12-19  166.0000  167.4500  159.0900  160.8900
1233  2018-12-20  160.4000  162.1100  155.3000  156.8300
1234  2018-12-21  156.8600  158.1600  149.6300  150.7300
1235  2018-12-24  148.1500  151.5500  146.5900  146.8300
1236  2018-12-26  148.3000  157.2300  146.7200  157.1700
1237  2018-12-27  155.8400  156.7700  150.0700  156.1500
1238  2018-12-28  157.5000  158.5200  154.5500  156.2300
1239  2018-12-31  158.5300  159.3600  156.4800  157.7400
1240  2019-01-02  154.8900  158.8500  154.2300  157.9200
1241  2019-01-03  143.9800  145.7200  142.0000  142.1900
1242  2019-01-04  144.5300  148.5499  143.8000  148.2600
1243  2019-01-07  148.7000  148.8300  145.9000  147.9300
1244  2019-01-08  149.5600  151.8200  148.5200  150.7500
1245  2019-01-09  151.2900  154.5300  149.6300  153.3100
1246  2019-01-10  152.5000  153.9700  150.8600  153.8000
1247  2019-01-11  152.8800  153.7000  151.5100  152.2900
1248  2019-01-14  150.8500  151.2700  149.2200  150.0000
1249  2019-01-15  150.2700  153.3900  150.0500  153.0700
1250  2019-01-16  153.0800  155.8800  153.0000  154.9400
1251  2019-01-17  154.2000  157.6600  153.2600  155.8600
1252  2019-01-18  157.5000  157.8800  155.9806  156.8200
1253  2019-01-22  156.4100  156.7300  152.6200  153.3000
1254  2019-01-23  154.1500  155.1400  151.7000  153.9200
1255  2019-01-24  154.1100  154.4800  151.7400  152.7000
1256  2019-01-25  155.4800  158.1300  154.3200  157.7600
1257  2019-01-28  155.7900  156.3300  153.6600  156.3000

[1258 rows x 5 columns]